.ct_input {
  display: flex;
  flex-direction: row;
  
  input {
    width: calc(100% - 120px);
    height: 30px;
    margin-bottom: 20px;
    margin-right: 20px;
  }

  button {
    width: 100px;
    height: 30px;

    &:hover {
      cursor: pointer;
    }
  }
}
